<p>login works!</p>
<form #form="ngForm" autocomplete="off" *ngIf="data" (submit)="onSubmit(form)"
      class="example-container">
    <h2>Créer un client</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" name="Email" #Email="ngModel" [(ngModel)]="data.Email" required
        disable="loadingModal">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" name="data.Password" #Password="ngModel"
        [(ngModel)]="data.Password" required>
    </mat-form-field>

    <button mat-flat-button color="warn">Créer</button>
</form>
